@font-face {
    font-family: Shabnam FD;
    src: url("../fonts/f97c55c563d56c131f02bf4d1bf50adc2e54982bb3447ec4c8557999479ef986.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: Shabnam FD;
    src: url("../fonts/712b10fbb9f70ac0d32ee164f6f19c03a956ff2a1ce03254e8b1e12073883255.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: Shabnam FD;
    src: url("../fonts/b848a2d721d14ae058c222b6d6b660b654b32f1f060ae92faba6fb33a0216ca8.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Shabnam FD;
    src: url("../fonts/16a794688aa6b08cece827e86685ab2265ad4875547c8907d0324868867197b5.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Shabnam FD;
    src: url("../fonts/948eb2f7b1191ebe85f9e5bf18ea0972f60a6db4e430a62c68e08be7245ebbba.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}
/* Powered by FontServer.ir */
/* Page-generation Time: 0.001885 s | Memory Usage: 58,872 B */